html, body {
  height: 100%;
}

canvas {
  background: white;
  border: 1px solid black;
}

body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2274B3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}

header {
  width: 100%;
  text-align: center;
}

footer {
  margin-bottom: 40px;
}

a {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  flex: 1;
  /* border: 1px solid #0F3450; */
  /* border-radius: 15px; */
  overflow: hidden;
  background-color: rgba(44, 152, 235, 1);

}

aside {
  border-left: 1px solid #0F3450;
  width: 30%;
  height: 100%;

  padding: 0 40px;
}

.canvas-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px;
  letter-spacing: inherit;
}

button:hover {
  cursor: pointer;
  background-color: #0F3450;
  color: white;
}

.clear-canvas-btn {
  align-self: flex-end;
  margin: 30px;
}

.selected {
  background-color: #0F3450;
  color: white;
  border: 1px solid white;
}

.shape-create-btn {

}