html, body {
  height: 100%;
}

canvas {
  background: white;
}

body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

header {
  width: 100%;
  text-align: center;
}

footer {
  margin-bottom: 40px;
}

a {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  flex: 1;
  background: purple;
}

aside {
  /* flex: 1; */
  /* height: 600px; */
  background: red;
  width: 30%;
  height: 100%;
}

.canvas-container {
  background: green;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}